NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://postgres:postgres@db:5432/adult_platform?schema=public
JWT_SECRET=change_me_now
CORS_ORIGIN=http://localhost:3000

# Stockage Cloud Compatible S3 (ex: Backblaze B2, 10 Go gratuits sans carte)
# S3_ACCESS_KEY=votre_keyID_backblaze
# S3_SECRET_KEY=votre_applicationKey_backblaze
# S3_ENDPOINT=https://s3.us-west-004.backblazeb2.com
# S3_REGION=us-west-004
# S3_BUCKET_NAME=nom_de_votre_bucket_backblaze

# Web Push Notifications (VAPID)
VAPID_PUBLIC_KEY=BHWr5CGnorng3gn5zwnN7wJ1inUUak_6u3lx7R06zT1twxM_VgGOzdcKEvmh3wan9NG_C-P9ZuBO9wBhFDCYRX8
# VAPID_PRIVATE_KEY=votre_cle_privee
VAPID_SUBJECT=mailto:admin@onlyadults.com
